{% extends 'account/base.html' %}
{% load static %}
{% block head_title %}About{% endblock %}
{% block body %}
<main role="main" class="py-5" style="background-color: white">
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container">
        <!-- START THE FEATURETTES -->
        <div class="row">

          <div class="col-lg-7">
            <h2 class="animated fadeIn delay-02s">About Us</h2>
            <p class="lead animated fadeInUp delay-07s">We are a group of ambitious young people, each of us with vast ideas and goals. Beacuse of an enthusiasm for software, which brings us together to complete the project, we can effectively collaborate. With a reason for different skills, we are able to assign work and handle projects. </p>
            <p class="lead animated fadeInUp delay-07s">This product is a Web-base Gantt Chart Editor(GCE). The purpose is to achieve time management and effective use. In the chaotic work, according to the importance and urgency of the work, it could be used to schedule the work and display the completion of the work.
              The best time management tool — Gantt Chart</p>
          </div>
          <div class="col-lg-5 animated fadeInUp delay-07s">
            <img class="img-fluid mx-auto rounded shadow" src="{% static 'charts/group.jpg' %}" alt="Group Photo">
          </div>
        </div>

        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

        <!-- Three columns of text below the carousel -->
        <h3 class="animated fadeIn delay-02s">Role</h3>
        <div class="row d-flex justify-content-center">
          <style>              .figure-crew img {
                  max-width: 8rem;
                  height: auto;
                  margin-left: auto;
                  margin-right: 2rem;
              }

              .figure-crew figcaption {
                  text-align: center;
                  margin-left: auto;
                  margin-right: 2rem;
              }
              </style>
          <div class="figure-crew d-flex flex-wrap animated fadeInUp delay-07s">

                    <figure class="figure">
                        <img src="{% static 'charts/cc.jpg' %}" class="figure-img img-fluid rounded-circle shadow" alt="CC Ho">
                        <figcaption class="figure-caption">CC Ho<br>Engineering</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="{% static 'charts/wz.jpg' %}" class="figure-img img-fluid rounded-circle shadow" alt="WZ Lee">
                        <figcaption class="figure-caption">WZ Lee<br>Engineering</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="{% static 'charts/yk.jpg' %}" class="figure-img img-fluid rounded-circle shadow" alt="YK Lee">
                        <figcaption class="figure-caption">YK Lee<br>Documenting</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="{% static 'charts/ss.jpg' %}" class="figure-img img-fluid rounded-circle shadow" alt="SS Huang">
                        <figcaption class="figure-caption">SS Huang<br>Marketing</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="{% static 'charts/cx.jpg' %}" class="figure-img img-fluid rounded-circle shadow" alt="CX Wen">
                        <figcaption class="figure-caption">CX Wen<br>Marketing</figcaption>
                    </figure>
                </div>
        </div>
        <hr class="featurette-divider">

        <h3 class="animated fadeIn delay-02s">Document</h3>
        <div class="card-deck mt-3 animated fadeIn delay-07s">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Requirements Document</h5>
              <p><a class="btn btn-secondary float-right" href="https://hackmd.io/rj0sbCIGQ_-WB_KoiIOn9A" role="button">View details »</a></p>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Architecture Document</h5>
              <p><a class="btn btn-secondary float-right" href="https://hackmd.io/8jyPvDL7Ty-h_30rm6uFbQ" role="button">View details »</a></p>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title">Design Document</h5>
              <p><a class="btn btn-secondary float-right" href="https://hackmd.io/ZllhHJ9ZRHK6YsDddx-9Pg" role="button">View details »</a></p>
            </div>
          </div>
        </div>
      </div><!-- main container -->
    </main>
{% endblock %}