{% load static %}

{% comment %}

This header appears above the page card for allauth views
It should include the site name and/or logo.

<img src="{% static 'img/logo.png' %}" alt="Logo" />

{% endcomment %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-3" href="{% url 'charts:index' %}">Gantt Chart Editor</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'charts:index' %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'charts:chart' %}">Chart Management</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account Setting
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'account_email' %}">Email Setting</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'charts:chart' %}">Chart Trial</a>
            </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'charts:about' %}">About</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
<form class="form-inline my-2 my-lg-0">
<div class="mr-3" style="color: white">Hi! {{ user.username }}</div>
<a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'account_logout' %}" role="button">Log out</a>
</form>
{% else %}
<form class="form-inline my-2 my-lg-0">
    <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'account_login' %}" role="button">Log in</a>
    <a class="btn btn-outline-light my-2 my-sm-0 ml-2" href="{% url 'account_signup' %}" role="button">Sign up</a>
</form>
{% endif %}
    </div>
</nav>
